:root {
  --turquoise: #00ef2c;
  --mid-turquoise: #000000;
  --dark-turquoise: #20471e;
  --black: #000000;
  --white: #f1f1f1;
  --grey: #d6e2e7;
  --gold: #ddb900;
  --dark-grey: #7f8a8e;
  --yellow: #f9c51a;
  --orange: #ff5c00;
  --fuschia: #e80352;
  --blue: #338fff;
  --blue-dark: #145cb3;
  --purple: #cda2ff;
  --green: #00ef7c;
  --color: var(--white);
  --background: var(--black);
  --primary: var(--turquoise);
}

/* layout */
* {
  padding: 0;
  margin: 4 rem;
  box-sizing: content-box;
  color: var(--gold);
}

body {
  font-family: "Fira Code", monospace;
  font-size: 16px;
  color: var(--color);
  background-color: black;
}

.App {
  color: var(--gold);
  background-color: var(--background);
  min-height: 100vh;
}

.App.light {
  --color: var(--black);
  --background: var(--gold);
  --primary: var(--black);
}

section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--gold);

}
/* buttons */
.btns {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  color: var(--black);
}

.btns button {
  margin: auto;
}

button {
  padding: auto;
  border: none;
  font: inherit;
  font-weight: 600;
  color: inherit;
  cursor: pointer;
  color: var(--primary);
  background-color: var(--background);
  border: 2px solid var(--dark-turquoise);
  transition: background-color 0.2s;
  color: gold;
}

button.active,
button:focus,
button:hover {
  outline: none;
  color: var(--black);
  background-color: var(--primary);
  border: 2px solid var(--primary);
}

button:disabled {
  cursor: not-allowed;
  color: var(--dark-grey);
  background-color: var(--grey);
}

button.blue {
  border: 2px solid var(--blue-dark);
  color: var(--blue);
}

button.blue.active,
button.blue:focus,
button.blue:hover {
  color: var(--black);
  background-color: var(--blue);
  border: 2px solid var(--blue);
}

/* links */
a {
  color: var(--gold);
  border-bottom: 1px solid var(--gold);
  text-decoration: var(--gold);
  display: block;
  margin: auto 50px;
  padding: auto;
  text-align: center;
  position: relative;
}

a:hover {
  background-color: var(--grey);
  border-bottom: 1px solid var(--blue);
}

/* header */
header {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  
}

.logo {
  color: var(--turquoise);
  font-size: 1.25em;
  font-family: Helvetica;
  margin-right: 0.5rem;
}
.h1 {
  color: var(--turquoise);
  font-size: 1.25em ;
  font-family: Helvetica;
  margin-right: 0.5rem;
}
.nav {
  padding-right: 90px;
  display: block;
  margin: auto;
  padding: auto;
  text-align: center;
  position: relative;
  left: 60px;
}

/* forms */

.form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  border: 2px solid var(--dark-turquoise);
  padding: 1.75rem;
}

.form h3 {
  margin-bottom: 1rem;
}

input,
textarea,
select {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  text-align: center;
  position: relative; 
  padding: 0.5rem;
  border: none;
  font-size: 1.25rem;
  width: 50%;
  font-weight: bold;
  transition: all 0.3s;
  border: 2px solid var(--color);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 2px solid var(--primary);
}

.form button[type="submit"] {
  width: 50%;
  cursor: pointer;
}

/* Filter */
.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.filter button {
  margin: 0 1rem;
}

/* cards */
.cards {
  margin: auto auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(1vw, 1fr));
  gap: 2.5rem;
  padding: 1rem;
}


.card {
  max-width: auto;
  display: block;
  grid-template-rows: auto 1fr auto;
  border: 7px solid #ddb900;
  border-radius: 5%;
  overflow: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

@media screen and (max-width: 588px) {
  .card {
    width: 100%;
    display: block;
    max-width: inherit;
  }
}

.card button{
  margin: 2vh 1vw;
  padding: 1rem;
  border: none;
  font: inherit;
  font-weight: 600;
  color: inherit;
  cursor: pointer;
  color: var(--primary);
  background-color: var(--background);
  border: 10px solid var(--gold);
  transition: background-color 0.2s;
}
.card .image .claps {
  color: transparent;
  text-shadow: 0 0 0 var(--turquoise);
  position: absolute;
  top: 10px;
  right: 10px;
}

.card .image .claps:focus,
.card .image .claps:hover {
  color: transparent;
  text-shadow: 0 0 0 var(--color);
}

.card .details {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.card .details h4 {
  margin: 0.5rem 0;
}

.card .details p {
  margin: 0.5rem 0;
}

.card .extra {
  margin-top: auto;
}

.badge {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  margin: 0.25rem;
}

.badge.blue {
  background-color: var(--blue);
  border: 2px solid var(--blue-dark);
  color: var(--white);
}


